/* CSS */

body{
    background-image: url(cadeado-criptografia.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color:white;
    margin-left:2%;
    margin-top: 2%;
    justify-content:left;
    background-color:rgb(7, 13, 20);
    
}

input,textarea,button{
    border-radius:5px;
    width: 200 px; 
    height: 30px;
    text-align: left;

}

input{
    margin: 2%;
    margin-top: 3%;
    border-color:blueviolet;
    
}
  
button{
 margin-top:3%;
 background-color:blueviolet;
 padding:10px 20px;
 color :white;
 border-color: white;
 
}

    footer{
        margin-top:6% ;
    }